.jumbotron {
    background-color: #A8E6CF;
    font-family: "Abril Fatface";
    border-bottom : 10px solid;
    border-color : #DB93B0;
}

.card-header {
    background-color:  #DCEDC1;
    font-family: "Abril Fatface";
}

.card-body {
    background-color: #A8E6CF;
    font-family: "Montserrat";
}

.list-group-item{
    background-color: #e6f4ce;
    font-family: "Montserrat";
    font-weight: bolder;
}

body{
    background-color: #FFD3B6;
}

.card {
    margin: 10px;
    border: 5px solid;
    border-color: #DB93B0;
}